# Configuration file

~CONFIG_VERSION: 3.0.0

client {
    # Show origin block on tooltip [default: false]
    B:showTooltipOrigin=false

    # Show properties on tooltip [default: true]
    B:showTooltipProperties=true

    # Show states on tooltip [default: false]
    B:showTooltipStates=false
}


general {
    # Enable the Chisel Support [default: true]
    B:chiselSupport=true

    # Enable the load fireproof wood pillars from Forestry [default: true]
    B:fireproofPillars=true

    # Allow to merge different kind of pillars [default: true]
    B:mergePillars=true
}


