# Configuration file

~CONFIG_VERSION: 0.1.0

world-1773885582 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1941508526 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=iron nu
    B:overlayEnabled=true
}


world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-339723973 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-547718693 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=alum

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-57222117 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1374514482 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world397973650 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world695493634 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world844121851 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=fuel rod
    B:overlayEnabled=true
}


